.hero-wrap.hero-bread(style="background-image: url('images/bg_1.jpg');")
  .container
    .row.no-gutters.slider-text.align-items-center.justify-content-center
      .col-md-9.ftco-animate.text-center
        p.breadcrumbs
          span.mr-2
            a(href='index.html') Nefis
          span &Uuml;r&uuml;nler
        h1.mb-0.bread= kapakBaslik