nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    a.navbar-brand(href='/') ORGAN&Idot;K YEMEK&Ccedil;&Idot;M
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
      span.oi.oi-menu
      |  Menu
    #ftco-nav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        if user
         li.nav-item.active.dropdown
          a#dropdown04.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')= user.kullanici_ad
          .dropdown-menu(aria-labelledby='dropdown04')
            a.dropdown-item(href='/favoriler') Favoriler
            a.dropdown-item(href='cart.html') &Uuml;r&uuml;nlerim
            a.dropdown-item(href='/urun-ekle') Ürün Ekle
            // Satıcıysa Göster
            a.dropdown-item(href='checkout.html') Hesap Ayarlar&imath;
            button.dropdown-item(id='cikisButon' style='cursor:pointer') &Ccedil;&imath;k&imath;&scedil; Yap
        else    
          li.nav-item
            a.nav-link(href='/giris') Giri&scedil;
            // Giriş yapmadıysa göster
          li.nav-item
            a.nav-link(href='/kayit') Kay&imath;t Ol
            // Giriş yapmadıysa göster
        if user    
         li.nav-item.cta.cta-colored
          a.nav-link(href='cart.html')
            span.icon-shopping_cart
            | [0]