doctype html
head
  title Vegefoods - Free Bootstrap 4 Template by Colorlib
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  include _header

include _navbar

include _kapak


section.ftco-section
  block content


script(src='/external_js/jquery.min.js')
script(src='/external_js/jquery-migrate-3.0.1.min.js')
script(src='/external_js/popper.min.js')
script(src='/external_js/bootstrap.min.js')
script(src='/external_js/jquery.easing.1.3.js')
script(src='/external_js/jquery.waypoints.min.js')
script(src='/external_js/jquery.stellar.min.js')
script(src='/external_js/owl.carousel.min.js')
script(src='/external_js/jquery.magnific-popup.min.js')
script(src='/external_js/aos.js')
script(src='/external_js/jquery.animateNumber.min.js')
script(src='/external_js/bootstrap-datepicker.js')
script(src='/external_js/scrollax.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
script(src='/external_js/google-map.js')
script(src='/external_js/main.js')
