extends base

block content
    section.ftco-section.ftco-cart
      .container
        .row
          .col-md-12.ftco-animate
            .cart-list
              table.table
                thead.thead-primary
                  tr.text-center
                    th &nbsp;
                    th Ürün Listesi
                    th &nbsp;
                    th Fiyat
                    th Miktar
                tbody
                 each favori in favoriler
                  tr.text-center
                    td.product-remove
                      a(href="#")
                        span.ion-ios-close
                    td.image-prod
                      .img(style=`background-image:url(/resimler/yemekler/${favori.begenilen.resim});`)
                    td.product-name
                      h3= favori.begenilen.ad
                      p= favori.begenilen.aciklama
                    td.price= `$${favori.begenilen.fiyat}`
                    td.quantity
                      .input-group.mb-3
                        input.quantity.form-control.input-number(type="text" name="quantity" value="1" min="1" max="100" disabled)
