extends base

block content 
 section.ftco-section.contact-section.bg-light
  .container
    .row.block-9
      .col-md-6.order-md-last.d-flex.mx-auto
       div#kayitFormKutu.col-12 
        form.bg-white.p-5.contact-form(action='#' id='girisForm')
          .form-group
            span.text-danger#uyari_mesaj.kullanici_ad.kaldir
            input.form-control(type='text' placeholder='İsminizi/Emailinizi Giriniz' id='ad_email')
          .form-group
            span.sifre.kaldir
            input.form-control(type='password' placeholder='Şifrenizi Giriniz' id='sifre')
          .form-group  
            input.btn.btn-primary.py-3.px-5(type='submit' value='Giriş Yap' id='girisButon')
            input.btn.btn-primary.py-3.px-5.d-none(type='button' value='Yükleniyor..' id='FakegirisButon')

       div#girisBasariKutu.col-12     
           
