extends base

block content

 section.ftco-section.ftco-cart
  .container
    .row
      .col-md-12.ftco-animate
        .cart-list
          table.table
            thead.thead-primary
              tr.text-center
                th &nbsp;
                th &nbsp;
                th Ürün İsmi
                th Fiyat
                th Miktar
                th Toplam
            tbody
              
             each urun in urunler 
              tr.text-center
                td.product-remove
                  a(href='#')
                    span.ion-ios-close
                td.image-prod
                  .img(style='background-image:url(images/product-3.jpg);')
                td.product-name
                  h3= urun.yemek.baslik
                  p= urun.yemek.aciklama
                td.price $#{urun.yemek.fiyat}
                td.quantity
                  .input-group.mb-3
                    input.quantity.form-control.input-number(type='text' name='quantity' value=`${urun.sayi}` min='1' max='100')
                td.total $4.90
        
    .row.justify-content-end
      .col-lg-4.mt-5.cart-wrap.ftco-animate
        .cart-total.mb-3
          h3 Coupon Code
          p Enter your coupon code if you have one
          form.info(action='#')
            .form-group
              label(for='') Coupon code
              input.form-control.text-left.px-3(type='text' placeholder='')
        p
          a.btn.btn-primary.py-3.px-4(href='checkout.html') Apply Coupon
      .col-lg-4.mt-5.cart-wrap.ftco-animate
        .cart-total.mb-3
          h3 Estimate shipping and tax
          p Enter your destination to get a shipping estimate
          form.info(action='#')
            .form-group
              label(for='') Country
              input.form-control.text-left.px-3(type='text' placeholder='')
            .form-group
              label(for='country') State/Province
              input.form-control.text-left.px-3(type='text' placeholder='')
            .form-group
              label(for='country') Zip/Postal Code
              input.form-control.text-left.px-3(type='text' placeholder='')
        p
          a.btn.btn-primary.py-3.px-4(href='checkout.html') Estimate
      .col-lg-4.mt-5.cart-wrap.ftco-animate
        .cart-total.mb-3
          h3 Cart Totals
          p.d-flex
            span Subtotal
            span $20.60
          p.d-flex
            span Delivery
            span $0.00
          p.d-flex
            span Discount
            span $3.00
          hr
          p.d-flex.total-price
            span Total
            span $17.60
        p
          a.btn.btn-primary.py-3.px-4(href='checkout.html') Proceed to Checkout
