extends base

block content
 section.ftco-section
  .container
    .row
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-1.jpg' alt='Colorlib Template')
            span.status 30%
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Bell Pepper
            .d-flex
              .pricing
                p.price
                  span.mr-2.price-dc $120.00
                  span.price-sale $80.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-2.jpg' alt='Colorlib Template')
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Strawberry
            .d-flex
              .pricing
                p.price
                  span $120.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-3.jpg' alt='Colorlib Template')
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Green Beans
            .d-flex
              .pricing
                p.price
                  span $120.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-4.jpg' alt='Colorlib Template')
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Purple Cabbage
            .d-flex
              .pricing
                p.price
                  span $120.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-5.jpg' alt='Colorlib Template')
            span.status 30%
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Tomatoe
            .d-flex
              .pricing
                p.price
                  span.mr-2.price-dc $120.00
                  span.price-sale $80.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-6.jpg' alt='Colorlib Template')
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Brocolli
            .d-flex
              .pricing
                p.price
                  span $120.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-7.jpg' alt='Colorlib Template')
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Carrots
            .d-flex
              .pricing
                p.price
                  span $120.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-8.jpg' alt='Colorlib Template')
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Fruit Juice
            .d-flex
              .pricing
                p.price
                  span $120.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-9.jpg' alt='Colorlib Template')
            span.status 30%
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Onion
            .d-flex
              .pricing
                p.price
                  span.mr-2.price-dc $120.00
                  span.price-sale $80.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-10.jpg' alt='Colorlib Template')
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Apple
            .d-flex
              .pricing
                p.price
                  span $120.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-11.jpg' alt='Colorlib Template')
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Garlic
            .d-flex
              .pricing
                p.price
                  span $120.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
      .col-md-6.col-lg-3.ftco-animate
        .product
          a.img-prod(href='#')
            img.img-fluid(src='images/product-12.jpg' alt='Colorlib Template')
            .overlay
          .text.py-3.pb-4.px-3.text-center
            h3
              a(href='#') Chilli
            .d-flex
              .pricing
                p.price
                  span $120.00
            .bottom-area.d-flex.px-3
              .m-auto.d-flex
                a.add-to-cart.d-flex.justify-content-center.align-items-center.text-center(href='#')
                  span
                    i.ion-ios-menu
                a.buy-now.d-flex.justify-content-center.align-items-center.mx-1(href='#')
                  span
                    i.ion-ios-cart
                a.heart.d-flex.justify-content-center.align-items-center(href='#')
                  span
                    i.ion-ios-heart
    .row.mt-5
      .col.text-center
        .block-27
          ul
            li
              a(href='#') &lt;
            li.active
              span 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') &gt;
  #ftco-loader.show.fullscreen
    svg.circular(width='48px' height='48px')
        circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
        circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')